<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="FireBirdServer" 
         value="localhost" 
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="ImageMagickPath" 
         value="C:\Program Files\ImageMagick-6.9.1-Q8\convert.exe" 
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="StationID"
         value="WebService"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="FileItBasePath"
         value="C:\FileIt"
          xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="FileItDataPath"
         value="C:\FileIt\Data"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="FileItEmptyCabinetFilePath"
         value="C:\inetpub\wwwroot\FileItService\Templates\_EmptyCabinet.FILEIT"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="ErrorLog" 
         value="C:\Logs" 
         xdt:Transform="SetAttributes" 
         xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="SystemFileitEntities"
         connectionString="metadata=res://*/Models.SystemFileItModel.csdl|res://*/Models.SystemFileItModel.ssdl|res://*/Models.SystemFileItModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;character set=NONE;data source=localhost;initial catalog=C:\Data\SYSTEM.FILEIT;user id=SYSDBA;password=masterkey&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
    />
    <add name="ConfigEntities"
         connectionString="metadata=res://*/Models.ConfigModel.csdl|res://*/Models.ConfigModel.ssdl|res://*/Models.ConfigModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;character set=NONE;data source=localhost;user id=SYSDBA;password=masterkey;initial catalog=C:\Data\CONFIG.FILEIT&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
    />
    <add name="Entities"
         connectionString="metadata=res://*/Models.LogsModel.csdl|res://*/Models.LogsModel.ssdl|res://*/Models.LogsModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;character set=NONE;data source=localhost;initial catalog=C:\Data\LOGS.FILEIT;user id=SYSDBA;password=masterkey&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
         />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>


  <system.webServer>
    <applicationInitialization
      skipManagedModules="true"
      xdt:Transform="Insert">
      <add initializationPage="/FileItService.svc/rest/InitService" />
    </applicationInitialization>
  </system.webServer>
</configuration>