<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="FireBirdServer" value="localhost" />
    <add key="ImageMagickPath" value="C:\Program Files\ImageMagick-6.9.1-Q8\convert.exe" />
    <add key="StationID" value="WebService" />
    <add key="FileItBasePath" value="C:\FileIt" />
    <add key="FileItDataPath" value="C:\FileIt\Data" />
    <add key="FileItEmptyCabinetFilePath" value="C:\Development\NET\BRI\FileItMobile\FileItService\FileItService\Templates\_EmptyCabinet.FILEIT" />
    <add key="ErrorLog" value="C:\Development\NET\BRI\FileItMobile\Logs" />
  </appSettings>
  <connectionStrings>
    <!-- local-->
    <!--<add name="SystemFileitEntities" connectionString="metadata=res://*/Models.SystemFileItModel.csdl|res://*/Models.SystemFileItModel.ssdl|res://*/Models.SystemFileItModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;character set=NONE;data source=localhost;initial catalog=C:\FileIt\prod\SYSTEM.FILEIT;user id=SYSDBA;password=masterkey&quot;" providerName="System.Data.EntityClient" />-->
    <!-- prod-->
    <add name="SystemFileitEntities" connectionString="metadata=res://*/Models.SystemFileItModel.csdl|res://*/Models.SystemFileItModel.ssdl|res://*/Models.SystemFileItModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;character set=NONE;data source=localhost;initial catalog=C:\Development\NET\BRI\FileItMobile\assets\PRODUCTION\SYSTEM.FILEIT;user id=SYSDBA;password=masterkey&quot;" providerName="System.Data.EntityClient" />

    
    <add name="ConfigEntities" connectionString="metadata=res://*/Models.ConfigModel.csdl|res://*/Models.ConfigModel.ssdl|res://*/Models.ConfigModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;character set=NONE;data source=localhost;user id=SYSDBA;password=masterkey;initial catalog=C:\FileIt\CONFIG.FILEIT&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Models.LogsModel.csdl|res://*/Models.LogsModel.ssdl|res://*/Models.LogsModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;character set=NONE;data source=localhost;initial catalog=C:\FileIt\LOGS.FILEIT;user id=SYSDBA;password=masterkey&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_FileItService" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="WebHttpBinding_FileItService"
		      maxBufferPoolSize="2147483647"
      		maxReceivedMessageSize="2147483647"
      		maxBufferSize="2147483647"
          transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647"
            maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="FileItService.FileItService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_FileItService" contract="FileItService.IFileItService"></endpoint>
        <!--<endpoint address="rest" binding="webHttpBinding" bindingConfiguration="WebHttpBinding_MyFileItService" behaviorConfiguration="web" contract="MyFileItService.IMyFileItAppService"></endpoint>-->
        <endpoint binding="mexHttpBinding" address="mex" name="mex" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="FirebirdSql.Data.EntityFramework6.FbConnectionFactory, EntityFramework.Firebird" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="FirebirdSql.Data.FirebirdClient" type="FirebirdSql.Data.EntityFramework6.FbProviderServices, EntityFramework.Firebird" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FirebirdSql.Data.FirebirdClient" publicKeyToken="3750abcc3150b00c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.4.0" newVersion="4.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="FirebirdSql.Data.FirebirdClient" />
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
    </DbProviderFactories>
  </system.data>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="myUserTraceSource"
              switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="C:\Logs\FileItError.svclog" />
    </sharedListeners>
  </system.diagnostics>
  
</configuration>