<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="FireBirdServer"
         value="localhost"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="ImageMagickPath"
         value="C:\Program Files\ImageMagick-6.9.1-Q8\convert.exe"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="StationID"
         value="WebService"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="FileItBasePath"
         value="C:\inetpub\wwwroot\Testing\FileItData"
          xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="FileItDataPath"
         value="C:\inetpub\wwwroot\Testing\FileItData\Data"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="FileItEmptyCabinetFilePath"
         value="C:\inetpub\wwwroot\Testing\FileItService\Templates\_EmptyCabinet.FILEIT"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="ErrorLog"
         value="C:\inetpub\wwwroot\Testing\Logs"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="SystemFileitEntities"
         connectionString="metadata=res://*/Models.SystemFileItModel.csdl|res://*/Models.SystemFileItModel.ssdl|res://*/Models.SystemFileItModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;character set=NONE;data source=localhost;initial catalog=C:\inetpub\wwwroot\Testing\FileItData\SYSTEM.FILEIT;user id=SYSDBA;password=masterkey&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
    />
    <add name="ConfigEntities"
         connectionString="metadata=res://*/Models.ConfigModel.csdl|res://*/Models.ConfigModel.ssdl|res://*/Models.ConfigModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;character set=NONE;data source=localhost;user id=SYSDBA;password=masterkey;initial catalog=C:\inetpub\wwwroot\Testing\FileItData\CONFIG.FILEIT&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
    />
    <add name="Entities"
         connectionString="metadata=res://*/Models.LogsModel.csdl|res://*/Models.LogsModel.ssdl|res://*/Models.LogsModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;character set=NONE;data source=localhost;initial catalog=C:\inetpub\wwwroot\Testing\FileItData\LOGS.FILEIT;user id=SYSDBA;password=masterkey&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
         />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>


  <system.webServer>
    <applicationInitialization
      skipManagedModules="true"
      xdt:Transform="Insert">
      <add initializationPage="/FileItService.svc/rest/InitService" />
    </applicationInitialization>
  </system.webServer>
</configuration>