<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ServiceUser" value="admin" />
    <add key="ServicePass" value="admin" />
    <add key="ErrorLog" value="C:\Development\NET\BRI\FileItMobile\Logs"/>
    <add key="MailServer" value="mail.myfileit.net"/>
    <add key="MailUser" value="no-reply@myfileit.net"/>
    <add key="MailPass" value="lmMoc7TWgTT{"/>
    <add key="MailPort" value="25"/>

    <add key="ViewDocumentUrl" value="http://localhost:37533/ViewDocument.aspx"/>

    <add key="TrialExpirationDays" value="90"/>
    <add key="ReminderCheckHour24" value="22"/>
  </appSettings>
  <connectionStrings>
    <!-- LOCAL-->
    <!--<add name="MyFileItEntities" connectionString="metadata=res://*/Models.MyFileItModel.csdl|res://*/Models.MyFileItModel.ssdl|res://*/Models.MyFileItModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;character set=WIN1251;data source=localhost;initial catalog=C:\Development\NET\BRI\FileItMobile\assets\MyFileIt.FILEIT;user id=SYSDBA;password=masterkey&quot;" providerName="System.Data.EntityClient" />-->
  <!--PROD-->
    <add name="MyFileItEntities" connectionString="metadata=res://*/Models.MyFileItModel.csdl|res://*/Models.MyFileItModel.ssdl|res://*/Models.MyFileItModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;character set=WIN1251;data source=localhost;initial catalog=C:\Development\NET\BRI\FileItMobile\assets\PRODUCTION\MyFileIt.FILEIT;user id=SYSDBA;password=masterkey&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="40960" executionTimeout="120" />
    <customErrors mode="Off"></customErrors>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_MyFileItService" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IFileItService"  maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="WebHttpBinding_MyFileItService"
		      maxBufferPoolSize="2147483647"
      		maxReceivedMessageSize="2147483647"
      		maxBufferSize="2147483647"
          transferMode="Streamed" >
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647"
              maxNameTableCharCount="2147483647" /> 
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:31427/FileItService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileItService"
        contract="FileItMainService.IFileItService" name="BasicHttpBinding_IFileItService" />
    </client>
    <services>
      <service name="MyFileItService.MyFileItAppService" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_MyFileItService" contract="MyFileItService.IMyFileItAppService"></endpoint>
        <endpoint address="rest" binding="webHttpBinding" bindingConfiguration="WebHttpBinding_MyFileItService" behaviorConfiguration="web" contract="MyFileItService.IMyFileItAppService"></endpoint>
        <endpoint binding="mexHttpBinding" address="mex" name="mex" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true" />
      </webScriptEndpoint>
    </standardEndpoints>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->

  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="FirebirdSql.Data.EntityFramework6.FbConnectionFactory, EntityFramework.Firebird" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="FirebirdSql.Data.FirebirdClient" type="FirebirdSql.Data.EntityFramework6.FbProviderServices, EntityFramework.Firebird" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FirebirdSql.Data.FirebirdClient" publicKeyToken="3750abcc3150b00c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.4.0" newVersion="4.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="FirebirdSql.Data.FirebirdClient" />
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
    </DbProviderFactories>
  </system.data>

  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="myUserTraceSource"
              switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="C:\Logs\MyFileItError.svclog" />
    </sharedListeners>
  </system.diagnostics>-->
</configuration>