<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ServiceUser" value="admin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServicePass" value="admin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ErrorLog" value="C:\Logs" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MailServer" value="mail.myfileit.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MailUser" value="no-reply@myfileit.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MailPass" value="lmMoc7TWgTT{" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MailPort" value="25" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="ViewDocumentUrl" value="http://fileit.cloudapp.net/MyFileItService-Testing/ViewDocument.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="MyFileItEntities"
         connectionString="metadata=res://*/Models.MyFileItModel.csdl|res://*/Models.MyFileItModel.ssdl|res://*/Models.MyFileItModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;character set=WIN1251;data source=localhost;initial catalog=C:\inetpub\wwwroot\Testing\FBData\MyFileIt.FILEIT;user id=SYSDBA;password=masterkey&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_MyFileItService"
                  maxBufferPoolSize="2147483647"
      		maxReceivedMessageSize="2147483647"
      		maxBufferSize="2147483647"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647"
            maxNameTableCharCount="2147483647"
                        xdt:Transform="Insert"/>
          <security mode="Transport"
          xdt:Transform="Insert">
          </security>
        </binding>
        <!--<binding name="BasicHttpBinding_IFileItService"  maxReceivedMessageSize="2147483647" />-->
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="WebHttpBinding_MyFileItService"
		      maxBufferPoolSize="2147483647"
      		maxReceivedMessageSize="2147483647"
      		maxBufferSize="2147483647"
          transferMode="Streamed"
                  crossDomainScriptAccessEnabled="true"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647"
            maxNameTableCharCount="2147483647" />
          <security mode="Transport"
           xdt:Transform="Insert">
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://fileit.cloudapp.net/FileItService-TESTING/FileItService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileItService"
        contract="FileItMainService.IFileItService" name="BasicHttpBinding_IFileItService"
                xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
                />
    </client>
  </system.serviceModel>
  <system.webServer>
    <applicationInitialization
      skipManagedModules="true"
      xdt:Transform="Insert">
      <add initializationPage="https://myfileit.net/MyFileItService-TESTING/MyFileItAppService.svc/rest/InitService" />
    </applicationInitialization>
  </system.webServer>

</configuration>