<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="FirebirdSql.Data.EntityFramework6.FbConnectionFactory, EntityFramework.Firebird" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="FirebirdSql.Data.FirebirdClient" type="FirebirdSql.Data.EntityFramework6.FbProviderServices, EntityFramework.Firebird" />
    </providers>
  </entityFramework>


  <!--<entityFramework>
<defaultConnectionFactory type="FirebirdSql.Data.EntityFramework6.FbConnectionFactory, EntityFramework.Firebird" />
<providers>
<provider invariantName="FirebirdSql.Data.FirebirdClient" type="FirebirdSql.Data.EntityFramework6.FbProviderServices, EntityFramework.Firebird" />
<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
</providers>
</entityFramework>-->
  <appSettings>
    <add key="FireBirdServer" value="localhost" />
    <add key="ImageMagickPath" value="C:\Program Files\ImageMagick-6.9.1-Q8\convert.exe" />
    <add key="FileItBasePath" value="C:\FileIt" />
    <add key="FileItDataPath" value="C:\FileIt\Data"/>
    <add key="FileItEmptyCabinetFilePath" value ="C:\Development\NET\BRI\FileItMobile\FileItService\FileItService\Templates\_EmptyCabinet.FILEIT"/>
  </appSettings>
  <connectionStrings>
    <add name="FirebirdContainer" connectionString="metadata=res://*/FirebirdModel.csdl|res://*/FirebirdModel.ssdl|res://*/FirebirdModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;character set=UTF8;data source=localhost;initial catalog=C:\FileIt\System.fileit;user id=sysdba;password=masterkey&quot;" providerName="System.Data.EntityClient" />
    <add name="SystemFileitEntities" connectionString="metadata=res://*/Models.SystemFileItModel.csdl|res://*/Models.SystemFileItModel.ssdl|res://*/Models.SystemFileItModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;character set=NONE;data source=localhost;initial catalog=C:\FileIt\SYSTEM.FILEIT;user id=SYSDBA;password=masterkey&quot;" providerName="System.Data.EntityClient" />
    <add name="ConfigEntities" connectionString="metadata=res://*/Models.ConfigModel.csdl|res://*/Models.ConfigModel.ssdl|res://*/Models.ConfigModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;character set=NONE;data source=localhost;user id=SYSDBA;password=masterkey;initial catalog=C:\FileIt\CONFIG.FILEIT&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Models.LogsModel.csdl|res://*/Models.LogsModel.ssdl|res://*/Models.LogsModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;character set=NONE;data source=localhost;initial catalog=C:\FileIt\LOGS.FILEIT;user id=SYSDBA;password=masterkey&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="FirebirdSql.Data.FirebirdClient" />
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FirebirdSql.Data.FirebirdClient" publicKeyToken="3750abcc3150b00c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.4.0" newVersion="4.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>